{% extends "layout/base.html" %}

{% block main %}
    <div class="row">
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pclass="panel-title">Exploring Alternative resources</p>
                </div>
                <div class="panel-body">
                    Start the process of funding your idea. There are several options for getting the funding you need to take your idea into production, some cater to specific groups and others are fairly open. Several ways of building the capital you need are available, whether you want to try and obtain funding by providing incentives to potential investors or to try and get funding by selling equity or future profits. Starting this process is often free to try but most have some sort of charge on the funding you raise ranging from 4% - 12%, based on the system they use.
                    <br>

		    <button type="button" data-toggle="collapse" data-target="#index"> 
			<span class="glyphicon glyphicon-chevron-down"></span>
		    </button>

		    <ul class="nav nav-list collapse" id="index">
			   <li> <a class="blue" href="#kickstarter">Kickstarter</a></li>
		           <li> <a class="blue" href="#indiegogo">Indiegogo</a></li>
		           <li> <a class="blue" href="#crowdfunder">Crowdfunder</a></li>
		           <li> <a class="blue" href="#rockethub">RocketHub</a></li>
		           <li> <a class="blue" href="#crowdrise">Crowdrise</a></li>
			   <li> <a class="blue" href="#change.org">change.org</a></li>
		           <li> <a class="blue" href="#angellist">Angel List</a></li>
		           <li> <a class="blue" href="#quirky">Quirky</a></li>
		    </ul>
                </div>
            <div>
        </section>
   </div>
   <div class="row" section id="Kickstarter" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Kickstarter</h2>
                </div>
                <div class="panel-body">
                            <p>
				Kickstarter is a popular crowdfunding website which focuses on funding project based ideas. It follows a funding policy where projects are proposed and have details on the site where they have their pitch and offer incentives to get people interested in their projects (backers) to pay a backer specified sum if the amount required to implement their project is in the time limit(pledge).
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Kickstarter is a popular site it has over1 billion dollars promised to projects.			
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter has and atomic model for funding either the project is fully funded or the project recieves no funding. Which creates a system that avoids half funded projects.	
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Allows for the backing of a wide variety of projects that fit into any of these cagegories: Art, Comics, Dance, Design, Fashion, Film, Food, Games, Music, Photography, Publishing, Technology, and Theater.				
						  </p>  		
				 	    </li>
                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Kickstarter takes 5% of all funding of a funded project.			
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter does not allow for charity projects or projects that use charity donations as an incentive.
						  </p>  		
					    </li>
					    <li> 
						  <p>
							The projects are restricted to these cagegories: Art, Comics, Dance, Design, Fashion, Film, Food, Games, Music, Photography, Publishing, Technology, and Theater.				
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter does not allow for the use of equity as a reward/incentive for backing a project.
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter does not allow for multiple rewards per pledge(funding promise).
						  </p>  		
					    </li>
			            </ul>
				    <p> Requirements </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Projects with hardware require physical prototype			
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter requires that you show only what you have done and only allows one reward(incentive) per pledge(funding).
						  </p>  		
					    </li>


                                            
					     
				    </ul>
				</br>
                                <a class="green" href="https://www.kickstarter.com/">link to kickstarter</a>
                            </p>
              
                            
                            
                </div> 
            </div>
        </section>
    </div>
 <div class="row" section id="indiegogo" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Indiegogo</h2>
                </div>
                <div class="panel-body">
                            <p>
				Indiegogo is a flexible crowdfunding website, similar in basic policy to kickstarter with a bit more flexibility, but higher usage costs. The site follows a similar model for getting a backing, but has less restrictions in the projects and payment plans. 
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Two funding options flexible which allows for projects to keep funding even if they don't reach their goal. Or fixed funding which allows for an alll or nothing approach.
						  </p>  		
					    </li>
					    <li> 
						  <p>
							open to non-profit ventures and personal funding, very flexible	in accepted projects.
						  </p>  		
					    </li>
                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							If using a flexible plan there is a 4% funding fee if project is fully funded  9% funding fee if project fails.
						  </p>  		
					    </li>
					    <li> 
						  <p>
							If using a fixed plan there 4% base funding fee if the project succeeds.
						  </p>  		
					    </li>  
				    </ul>
				</br>
                                <a class="green" href="http://landing.indiegogo.com/crowdfund/">link to Indiegogo</a>
                            </p>
              
                            
                            
                </div> 
            </div>
        </section>
    </div>
 <div class="row" section id="crowdfunder" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Crowdfunder</h2>
                </div>
                <div class="panel-body">
                            <p>
				Crowdfunder is different from kickstarter and indiegogo in that as an incentive it allows users to actually sell partial ownership of their startup. Rather than just offering rewards for backing them they go for a backing that gives the investor a share of profits or equity.
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							network of investors
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter has and atomic model for funding either the project is fully funded or the project recieves no funding. Which creates a system that avoids half funded projects.	
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Allows for the backing of a wide variety of projects that fit into any of these cagegories: Art, Comics, Dance, Design, Fashion, Film, Food, Games, Music, Photography, Publishing, Technology, and Theater.				
						  </p>  		
				 	    </li>
                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Actual equity can be sold.		
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Caters towards tech startups and small buisness
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Site features cost from  $100/month to 1000/month		
						  </p>  		
					    </li>
					   
			            </ul>
				    <p> Requirements </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							More thorough screening than most of the crowdfunding sites.		
						  </p>  		
					    </li>

				    </ul>
				</br>
                                <a class="green" href="https://www.crowdfunder.com/">link to Crowdfunder</a>
                </div> 
            </div>
        </section>
    </div>
 <div class="row" section id="rockethub" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">RocketHub</h2>
                </div>
                <div class="panel-body">
                            <p>
				Rockethub is another crowdfunding website which is distinguished by its partnership with A&E.
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Site uses flexible model, it does not go with an all or nothing approach
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Tries to cater to the arts and social projects	
						  </p>  		
					    </li>
					    <li> 
						  <p>
							allows for incnetives(goods) Theater.				
						  </p>  		
				 	    </li>
                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							charges 8% of  collected fees if successfully funded and 12% if not fully funded		
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Can not offer equity, revenues, or raffles as incentives
						  </p>  		
					    </li>

			            </ul>
				    <p> Requirements </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Have a Project that passes screening.			
						  </p>  		
					    </li>    	     
				    </ul>
				</br>
                                <a class="green" href="http://www.rockethub.com/">link to RocketHub</a>
                            </p>
              
                            
                            
                </div> 
            </div>
        </section>
    </div>
 <div class="row" section id="crowdrise" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Crowdrise</h2>
                </div>
                <div class="panel-body">
                            <p>
				Crowdrise is a site that focuses on raising charity donations
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Charitable
						  </p>  		
					    </li>

                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Still charges transaction fee.			
						  </p>  		
					    </li>

			            </ul>
				    <p> Requirements </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Not for profit project or group.			
						  </p>  		
					    </li>
				    </ul>
				</br>
                                <a class="green" href="http://www.crowdrise.com/">link to Crowdrise</a>
                            </p>      
                </div> 
            </div>
        </section>
    </div>
 <div class="row" section id="angellist" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Angel List</h2>
                </div>
                <div class="panel-body">
                            <p>
				Angel list is a crowdfunding site that facilitates the communication between startups and investors.
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Angel List allows for public investing
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Allows for easier networking within domain	
						  </p>  		
					    </li>

                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Angel List as a 10% carry			
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Is a more exclusive audience less whimsical ideas and more tech based startups.
						  </p>  		
					    </li>

			            </ul>
				    <p> Requirements </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Startup idea that gets through screening			
						  </p>  		
					    </li>



                                            
					     
				    </ul>
				</br>
                                <a class="green" href="https://angel.co/">link to Angel List</a>
                            </p>
              
                            
                            
                </div> 
            </div>
        </section>
    </div>
 <div class="row" section id="change.org" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Change.org</h2>
                </div>
                <div class="panel-body">
                            <p>
				Change.org is a petition site and not an actual funding site.
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Allows the reaching of a wide audience for a petition.
						  </p>  		
					    </li>
                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Will not help gather captial.			
						  </p>  
					    </li>		
					  
			            </ul>
				</br>
                                <a class="green" href="https://www.change.org">link to change.org</a>
                            </p>
              
                            
                            
                </div> 
            </div>
        </section>
    </div>
 <div class="row" section id="quirky" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Quirky</h2>
                </div>
                <div class="panel-body">
                            <p>
				Quirky is a site that caters to tinkerers and takes proposed ideas and implements them.
		            </p> 
				    <p> Pros </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Quirky allows ideas to be implemented without trying to raise backing.
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Acceptance based partly off of voting system	
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Quirky gives rolaties based off of the invention.
						  </p>  		
					    </li>

                                    </ul>
				    <p> Cons </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Quirky takes related intellectual property.			
						  </p>  		
					    </li>

			            </ul>
				    <p> Requirements </p>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Projects with ideas have to be accepted by quirky team as well as voted in.		
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Patents help get voted in
						  </p>  		
					    </li>


                                            
					     
				    </ul>
				</br>
                                <a class="green" href="">link to quirky</a>
                            </p>
      
                </div> 
            </div>
        </section>
    </div>

{% endblock %}



