{% extends "layout/base.html" %}

{% block main %}
    <script src="/static/js/lib/pouchdb-2.1.0.min.js" defer></script>
    <script src="/static/js/core/database.js" defer></script>
    <!-- EaselJS library -->
    <script src="/static/js/lib/easeljs-0.7.0.min.js" defer></script>
    <script src="/static/js/lib/preloadjs-0.4.0.min.js" defer></script>
    <script src="" defer></script>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul class="nav nav-pills">
                <li{% if minigame.is_start %} class="active"{% endif %}><a href=" ">Start</a></li>
                <li{% if minigame.is_aha %} class="active"{% endif %}><a href=" ">Aha</a></li>
                <li{% if minigame.is_gap %} class="active"{% endif %}><a href=" ">Gap</a></li>
                <li{% if minigame.is_survey %} class="active"{% endif %}><a href=" ">Survey</a></li>
                <li{% if minigame.is_interest %} class="active"{% endif %}><a href=" ">Interest</a></li>
                <li{% if minigame.is_elevator %} class="active"{% endif %}><a href=" ">Elevator</a></li>
            </ul>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            {% block minigame %}{% endblock %}
        </div>

        <!--<div class="col-md-2">
            {% block minigame-questions %}{% endblock %}
        </div>-->
    </div>
{% endblock %}
