{% extends "layout/base.html" %}

{# page content #}
{% block title %}Frequently Asked Questions{% endblock %}
{% block description %}Checkout our most asked Questions{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <!--{% include "bootstrap/panel.html" with header=myVenture.title body=myVenture.content %}-->
        </div>

        <div class="col-md-4">
           <!-- {% include "bootstrap/panel.html" with header=groupVenture.title body=groupVenture.content %}-->
        </div>

        <div class="col-md-4">
             <!--{% include "bootstrap/panel.html" with header=communityVenture.title body=communityVenture.content %}-->
        </div>
    </div>
{% endblock %}
