{% extends  "layout/base.html" %}
{% load staticfiles %}

{% block banner %}

<link href="/static/css/banner.css" rel="stylesheet">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/images/coat.jpg" alt="sample">
            <div class="carousel-caption">
                <a href="/ventures/0">
                    <h1>
                        Murphee's Irish Coats
                    </h1>
                    <h3>
                        Bringing the comfort and quality of Traditional Irish coats to an Online International Exchange
                    </h3>
                </a>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/anti-gravity.jpg" alt="sample">
            <div class="carousel-caption">
                <a href="/ventures/1">
                    <h1>
                        Three Lions Magic Show
                    </h1>
                    <h3>
                        A crew of three globally acclaimed Magicians bend the rules of reality to make the mundane extraordinary
                    </h3>
                </a>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/film.jpg" alt="sample">
            <div class="carousel-caption">
                <a href="/ventures/2">
                    <h1>
                        Melies Studio
                    </h1>
                    <h3>
                        Georges Melies makes Black and White cinematography relevant in the 21th century
                    </h3>
                </a>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

{% endblock %}

{% block main %}
<br>
<div class="jumbotron">
    <h1>
        Make a Difference
    </h1>
    <p>
        Gateway works to make the entrepreneurship process managable through Gamification.<br>
        What is normally a stressful prolonged process becomes as easy as playing Angry Birds<sup>tm</sup>
    </p>
    <p>
        <a href="/accounts/register" class="btn btn-primary btn-lg" role="button">
            Get Started
        </a>
    </p>
</div
{% endblock %}
