{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Gateway Members{% endblock %}
{% block description %}This is the home page for members{% endblock %}

{% block main %}
	<link href="/static/css/member.css" rel="stylesheet">
	<div class="row">
		<div class="col-md-8">
			<img src="/static/images/{{currentVenture.image}}.jpg" width="100%">
		</div>
		<div class="col-md-4">
			<a href="/ventures/{{ currentVenture.id }}">
				<h2>
					{{ currentVenture.title }}
				</h2>
			</a>

			<div class="progress progress-striped active">
				<div class="progress-bar" role="progressbar progress-bar-success" style="width: {{ currentVenture.progress }}%;">
					{{ currentVenture.step }}
				</div>
			</div>

			<p>
				{{ currentVenture.hook }}
			</p>
		</div>
	</div>

	<div class="row">
		{% for venture in ventures%}
			<div class="col-md-4">
				<a href="/ventures/{{ venture.id }}">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3>{{venture.title}}</h3>
							<img src="/static/images/{{venture.image}}.jpg" width="100%">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: {{ venture.progress }}%;">
									{{ venture.step }}
								</div>
							</div>
							<p>
								{{ venture.hook }}
							</p>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}