{% extends "layout/base.html" %}

{% block main %}
    <div class="row">
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Exploring Alternative resources</h3>
                </div>
                <div class="panel-body">
                    Exlore additional material on the stages of entrepreneurship.
                    <br>
		    <li class="nav-header" data-toggle="collapse" data-target="#index">
		    <ul class="nav nav-list collapse" id="index">
			    <li> <a class="blue" href="#kickstarter">Kickstarter</a></li>
			    <li> <a class="blue" href="#Change.org">change.org</a></li>
			    <li> <a class="blue" href="#genericStartup">Angel Backers</a></li>
		    </ul>
                </div>
            <div>
        </section>
   </div>
   <div class="row" section id="Kickstarter" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Kickstarter</h3>
                </div>
                <div class="panel-body">
                            <p>
				Kickstarter is a popular crowdfunding website which focuses on funding project based ideas
		            </p> 
				    <h3> Pros </h3>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Kickstarter is a popular site it has over1 billion dollars promised to projects.			
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter has and atomic model for funding either the project is fully funded or the project recieves no funding. Which creates a system that avoids half funded projects.	
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Allows for the backing of a wide variety of projects that fit into any of these cagegories: Art, Comics, Dance, Design, Fashion, Film, Food, Games, Music, Photography, Publishing, Technology, and Theater.				
						  </p>  		
				 	    </li>
                                    </ul>
				    <h3> Cons </h3>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Kickstarter takes 5% of all funding of a funded project.			
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter does not allow for charity projects or projects that use charity donations as an incentive.
						  </p>  		
					    </li>
					    <li> 
						  <p>
							The projects are restricted to these cagegories: Art, Comics, Dance, Design, Fashion, Film, Food, Games, Music, Photography, Publishing, Technology, and Theater.				
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter does not allow for the use of equity as a reward/incentive for backing a project.
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter does not allow for multiple rewards per pledge(funding promise).
						  </p>  		
					    </li>
			            </ul>
				    <h3> Requirements </h3>
				    <br>
				    <ul >
					    <li> 
						  <p>
							Projects with hardware require physical prototype			
						  </p>  		
					    </li>
					    <li> 
						  <p>
							Kickstarter requires that you show only what you have done and only allows one reward(incentive) per pledge(funding).
						  </p>  		
					    </li>


                                            
					     
				    </ul>
				</br>
                                <a class="green" href="https://www.kickstarter.com/">link to kickstarter</a>
                            </p>
              
                            
                            
                </div> 
            </div>
        </section>
    </div>
    <div class="row" section id="Change.org" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change.org</h3>
                </div>
                 <div class="panel-body">
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>

                </div>
            </div>
        </section>
    </div>
    <div class="row" section id="genericStartup" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Angel Backers</h3>
                </div>
                <div class="panel-body">
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
  
                </div>
            </div>
        </section>
    </div>


{% endblock %}



