{% extends "layout/base.html" %}

{% block main %}
    <div class="row">
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Exploring Alternative resources</h3>
                </div>
                <div class="panel-body">
                    Exlore additional material on the stages of entrepreneurship.
                    <br>
		    <li class="nav-header" data-toggle="collapse" data-target="#index">
		    <ul class="nav nav-list collapse" id="index">
			    <li> <a class="blue" href="#kickstarter">Kickstarter</a></li>
			    <p> <a class="blue" href="#Change.org">change.org</a></li>
			    <p> <a class="blue" href="#genericStartup">genericStartup</a></p>
		    </ul>
                </div>
            <div>
        </section>
   </div>
   <div class="row" section id="Kickstarter" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Kickstarer</h3>
                </div>
                <div class="panel-body">
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
                            
                            
                </div> 
            </div>
        </section>
    </div>
    <div class="row" section id="Change.org" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change.org</h3>
                </div>
                 <div class="panel-body">
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>

                </div>
            </div>
        </section>
    </div>
    <div class="row" section id="genericStartup" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">genericStartup</h3>
                </div>
                <div class="panel-body">
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
                            <p>
				How to use this resource
				</br>
                                <a class="green" href="">sitename</a>
                            </p>
  
                </div>
            </div>
        </section>
    </div>


{% endblock %}



