{% extends "layout/base.html" %}
fff
{% block main %}
    <div class="row">
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Exploring Alternative resources</h3>
                </div>
                <div class="panel-body">
                    Exlore additional material on the stages of entrepreneurship.
                    <br>
		    <li class="nav-header" data-toggle="collapse" data-target="#index">
		    <ul class="nav nav-list collapse" id="index">
			    <p> <a class="blue" href="#Research">Research</a></p>
			    <p> <a class="blue" href="#Beta">Beta</a></p>
			    <p> <a class="blue" href="#Buisness">Buisness Map</a></p>
		            <p> <a class="blue" href="#Capital">Capital Structure</a></p>
			    <p> <a class="blue" href="#Legal">Legal</a></p>
		    </ul>
                </div>
            <div>
        </section>
   </div>
   <div class="row" section id="Research" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stage 1 resources - Research</h3>
                </div>
                <div class="panel-body">
                            <p>
				resource one: learn resource gathering
				</br>
                                <a class="green" href="">sitename</a>
                            </p>

                            
                            <hr>
                            <p>
				resource two: learn resource gathering
				<br>
                                <a class="green" href="">sitename</a>
                            </p>
                            
                            <hr>
                            <p>
				resource three: learn resource gathering
				<br>			
                              	<a class="green" href="">sitename</a> 
                            </p>
                            
                            <hr>
                            <p>
				resource four: learn resource gathering
				<br>
                                <a class="green" href="">sitename</a> 
                            </p>
                </div> 
            </div>
        </section>
    </div>
    <div class="row" section id="Beta" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stage 2 resources - Beta stage</h3>
                </div>
                 <div class="panel-body">
                            <p>
				resource one: learn xyz xyz
				</br>
                                <a class="green" href="">sitename</a>
                            </p>

                            
                            <hr>
                            <p>
				resource two: 
				<br>
                                <a class="green" href="">sitename</a>
                            </p>
                            
                            <hr>
                            <p>
				resource three:
				<br>			
                              	<a class="green" href="">sitename</a> 
                            </p>
                            
                            <hr>
                            <p>
				resource four: 
				<br>
                                <a class="green" href="">sitename</a> 
                            </p>
                </div>
            </div>
        </section>
    </div>
    <div class="row" section id="Buisness" >
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stage 3 resources - Buisness management</h3>
                </div>
                <div class="panel-body">
                            <p>
				resource one: learn xyz xyz
				</br>
                                <a class="green" href="">sitename</a>
                            </p>

                            
                            <hr>
                            <p>
				resource two: 
				<br>
                                <a class="green" href="">sitename</a>
                            </p>
                            
                            <hr>
                            <p>
				resource three:
				<br>			
                              	<a class="green" href="">sitename</a> 
                            </p>
                            
                            <hr>
                            <p>
				resource four: 
				<br>
                                <a class="green" href="">sitename</a> 
                            </p>
                </div>
            </div>
        </section>
    </div>
    <div class="row" section id="Capitol">
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stage 4 resources - Capitol Management</h3>
                </div>
                <div class="panel-body">
                            <p>
				resource one: learn xyz xyz
				</br>
                                <a class="green" href="">sitename</a>
                            </p>

                            
                            <hr>
                            <p>
				resource two: 
				<br>
                                <a class="green" href="">sitename</a>
                            </p>
                            
                            <hr>
                            <p>
				resource three:
				<br>			
                              	<a class="green" href="">sitename</a> 
                            </p>
                            
                            <hr>
                            <p>
				resource four: 
				<br>
                                <a class="green" href="">sitename</a> 
                            </p>
                </div>
            </div>
        </section>
    </div>
    <div class="row" section id="Legal">
        <section class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stage 5 resources - Legal</h3>
                </div>
                <div class="panel-body">
                            <p>
				resource one: learn xyz xyz
				</br>
                                <a class="green" href="">sitename</a>
                            </p>

                            
                            <hr>
                            <p>
				resource two: 
				<br>
                                <a class="green" href="">sitename</a>
                            </p>
                            
                            <hr>
                            <p>
				resource three:
				<br>			
                              	<a class="green" href="">sitename</a> 
                            </p>
                            
                            <hr>
                            <p>
				resource four: 
				<br>
                                <a class="green" href="">sitename</a> 
                            </p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}



