{% extends "layout/base.html" %}
{% load staticfiles %}

{# page content #}
{% block title %}Student Profile{% endblock %}
{% block description %}Manage and view the status of your student entrepreneurs{% endblock %}

{% block main %}
    <link href="/static/css/gateway.css" rel="stylesheet">
    <div class="row">

        <!-- Left Navigation -->
        <div class="col-md-2 cont-border pull-left">
            <ul class="nav nav-pills nav-stacked" id="navi-content" data-tabs="pills">
                {% include "bootstrap/accountnav.html" with items=subnav %}
            </ul>
        </div>

        <!-- Navigation Page Content -->
        <div class="col-md-9 cont-border pull-right tab-content lrg-wdth dwn15" id="tabi-templates">

            <!-- Student Profile Page -->
            <div class="tab-pane fade {% if subnav.0.active %}in active{% endif %}" id="{{ subnav.0.id }}">
                {% include "fragment/profile-student.html" %}
            </div>

            <!-- Student Venture Progress Page -->
            <div class="tab-pane fade {% if subnav.1.active %}in active{% endif %}" id="{{ subnav.1.id }}">
                {% include "fragment/progress.html" %}
            </div>

            <!-- Settings Page -->
            <div class="tab-pane fade {% if subnav.3.active %}in active{% endif %}" id="{{ subnav.3.id }}">
                {% include "fragment/settings.html" %}
            </div>

            <!-- FAQ Page -->
            <div class="tab-pane fade {% if subnav.4.active %}in active{% endif %}" id="{{ subnav.4.id }}">
                {% include "fragment/profile-faq.html" %}
            </div>

            <!-- Help Page -->
            <div class="tab-pane fade {% if subnav.5.active %}in active{% endif %}" id="{{ subnav.5.id }}">
                {% include "fragment/help.html" %}
            </div>
        </div>
    </div>

{% endblock %}
