{% comment %}
    this page is used by its parent teacher.html and is the content for the nav - profile tab
{% endcomment %}

<!-- Left Side - Information/Image -->
<section class="col-md-8 pull-left">
    
    <!-- Profile Picture -->
    <div class="pull-left cont-border col-md-4 text-center sml of-left">
        <a href="javascript:void(0);"><p class="add-img">Add an image...</p></a>
    </div>

    <!-- Profile Information -->
    <div class="pull-right col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Information</h3>
            </div>

            <!-- User is able to change these -->
            <ul class="list-group">
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#modal-username">Username: <span class="line-input of-usr">superuser</span></a>
                
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#modal-password">Password: <span class="line-input of-pwd">**********</span></a>
                
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#modal-email">Email: <span class="line-input of-med">superuser@gateway.com</span></a>
                
                <p class="list-group-item">Permissions: <span class="line-input of-lil">Administrator</span></p>
            </ul>
        </div>
    </div>

    <!-- Profile details -->
    <div class="col-md-12 pull-left left25-inv">

        <!-- Details navigation tabs -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#bio" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span>&nbsp;
                Bio</a>
            </li>
            <li>
                <a href="#education" data-toggle="tab"><span class="glyphicon glyphicon-book"></span>&nbsp;
                Education</a>
            </li>
            <li>
                <a href="#work" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;
                Work</a>
            </li>
        </ul>

        <!-- Content of each details tab -->
        <div class="tab-content">

            <!-- Bio tab -->
            <div class="tab-pane fade in active" id="bio">
                <div class="col-md-12 cont-border top1-inv wide5">
                    {% include "bootstrap/textarea.html" with id="bio" rows=2 label="About Me:" placeholder="This is my bio..." %}
                    {% include "bootstrap/textarea.html" with id="bio" rows=2 label="Interests:" placeholder="These are my interests..." %}
                    {% include "bootstrap/textarea.html" with id="bio" rows=2 label="Goals:" placeholder="These are my goals..." %}
                    <hr>
                    <button type="submit" class="btn btn-default btn-sbm pull-right top7-inv">Save</button>
                </div>
            </div>

            <!-- Education tab -->
            <div class="tab-pane fade" id="education">
                <div class="col-md-12 cont-border top1-inv">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="ddm"><a href="#">Action</a></li>
                            <li class="ddm"><a href="#">Another action</a></li>
                            <li class="ddm"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="ddm"><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    {% include "bootstrap/textarea.html" with id="bio" rows=1 label="About Me:" placeholder="This is my bio..." %}
                    <hr>
                    <button type="submit" class="btn btn-default btn-sbm pull-right top7-inv">Save</button>
                </div>
            </div>

            <!-- Work tab -->
            <div class="tab-pane fade" id="work">
                <div class="col-md-12 cont-border top1-inv">
                    work stuff
                    <button type="submit" class="btn btn-default btn-sbm pull-right top7-inv">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% for key in modal %}
    {% include "bootstrap/modal.html" with id=key.id title=key.title input=key.input inpid=key.inpid change=key.change %}
{% endfor %}

<!-- Right Side - Recent Student Mini-Game Completions -->
<section class="col-md-4 cont-border pull-right">
    <div class="panel panel-default dwn2-inv">
        
        <!-- Title -->
        <div class="panel-heading">
            <h3 class="panel-title">Recent Student Activity</h3>
        </div>
        
        <!-- Load in Student Name/Game/Time -->
        <div class="panel-body tab-content dwn15-inv">

            {% for val in act_pgs %}
                
                <!-- Recent Activitiy Pages -->
                <div class="tab-pane fade {% if val.active %}in active{% endif %}" id="{{ val.id }}">
                    {% include "bootstrap/sidenav-teacher.html" with items=activities %}
                </div>
            {% endfor %}
            
            {% include "bootstrap/pagination.html" with pages=act_pgs %}
        </div>
    </div>
</section>