.cont-border {
    min-height: 20px;
    margin-bottom: -5px;
    padding: 19px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.timestamp-bl {
    color: #34495e;
    font-size: 10px;
    margin-top: -7px;
}

.add-img {
    margin-top: 68px; 
    color: #777; 
}

.line-input {
    font-size: 12px;
    color: #555;
}

.ln-size {
    line-height: 25px;
}

.sml {
    height: 200px;
}

.medi {
    height: 450px;
}

.lrg {
    height: 700px;
}

.lrg-wdth {
    width: 79%;
}

.med-wdth {
    width: 60%;
}

.of-lil {
    margin-left: 8px;
}

.of-med {
    margin-left: 50px;
}

.of-usr {
    margin-left: 20px;    
}

.of-pwd {
    margin-left: 23px;
}

.of-left {
    margin-left: -10px;
}

.btm-inhrt {
    padding-bottom: inherit;
}

.dwn2-inv {
    margin-bottom: -2px;
}

.dwn15-inv {
    margin-bottom: -15px;
}

.dwn15 {
    margin-bottom: 15px;
}

.top0 {
    margin-top: 0px;
}

.btm30 {
    margin-bottom: 30px;
}

.top7 {
    margin-top: 7px;
}

.top1-inv {
    margin-top: -1px;
}

.top7-inv {
    margin-top: -7px;
}

.left25-inv {
    margin-left: -25px;
}

.left15-inv {
    margin-left: -15px;
}

.left19-inv {
    margin-left: -19px;
}

.pleft8 {
    padding-left: 8px;
}

.wide5 {
    width: 105%;
}

.btn-sbm, .btn-sbm:focus {
    width: 18%;
}

.tl100 {
    height: 100px;
}

.big-txt {
    resize: none;
}

.tab-display {
    z-index: 500;
}

.sub-title {
    color: #666;
    font-size: 15px;
}

.no-line:hover {
    text-decoration: none;
}
