{% extends "base.html" %}

{# page content #}
{% block title %}Community{% endblock %}
{% block description %}People do community stuff here{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            {% include "bootstrap/panel.html" with title="My Ventures" content="Start a new venture today!" %}
        </div>

        <div class="col-md-4">
            {% include "bootstrap/panel.html" with title="My Groups's Ventures" content="You do not yet have any groups. Start a venture to become part of a group." %}
        </div>

        <div class="col-md-4">
             {% include "bootstrap/panel.html" with title="Community Ventures" content="John Smith just published his first survey! Gateway helped Planet Express start their own business. Read the story and see how their company is doing now.\nYou too, could be running your own business someday!" %}
        </div>
    </div>
{% endblock %}
