{% extends "base.html" %}

{# page content #}
{% block title %}Community{% endblock %}
{% block description %}People do community stuff here{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            {% include "bootstrap/panel.html" with title=myVenture.title content=myVenture.content %}
        </div>

        <div class="col-md-4">
            {% include "bootstrap/panel.html" with title=groupVenture.title content=groupVenture.content %}
        </div>

        <div class="col-md-4">
             {% include "bootstrap/panel.html" with title=communityVenture.title content=communityVenture.content %}
        </div>
    </div>
{% endblock %}
