{% extends "layout/base.html" %}

{% block main %}
    <div class="row">
        <section class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to Gateway</h3>
                </div>
                <div class="panel-body">
                    Learn about the stages of the entrepreneurship process, access resources to build your own business plans, and compete to be the best start up!
                    <br>
                    <aside>
                        Are you a teacher, group leader, or instructor?<br>
                        Click <button type="button" class="btn btn-default">Here</button> to request a leader page.
                    </aside>
                </div>
            <div>
        </section>

        <section class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        {% include "bootstrap/input.html" with id="first-name" type="text" placeholder="John" label="First Name" %}
                        {% include "bootstrap/input.html" with id="last-name" type="text" placeholder="Smith" label="Last Name" %}
                        {% include "bootstrap/input.html" with id="username" type="text" placeholder="jsmith12" label="Username" %}
                        {% include "bootstrap/input.html" with id="email" type="email" placeholder="John.Smith@email.com" label="Email" %}
                        {% include "bootstrap/input.html" with id="password" type="Password" placeholder="Password" label="Password" %}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                </div>
            </div>
        </section>
    </div>
{% endblock %}