{% extends "base.html" %}

{% block title %}Interest - Game 4{% endblock %}
{% block description %}Play game 4 and geth the takehome{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/minigames">Start</a></li>
				<li><a href="/minigames/aha">Elevevator</a></li>
				<li><a href="/minigames/gap">Gap</a></li>
				<li><a href="/minigames/survey">Survey</a></li>
				<li class="active"><a href="/minigames/interest">Interest</a></li>
				<li><a href="/minigames/elevator">Elevator</a></li>
				<li><a href="/minigames/end">End</a></li>
			</ul>
		</div>

		<div class="col-md-10">
			{% include "bootstrap/jumbotron.html" with header=minigame.title subheader=minigame.subtitle %}
		</div>
	</div>
{% endblock %}
