{% extends "base.html" %}

{% block title %}Member's Home{% endblock %}
{% block description %}This is the home page for members{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-6">
			<section class="panel panel-default">
				<div class="panel-heading">
					Announcements
				</div>
	
				<ul class="list-group">
					{% for story in news%}
						<li class="list-group-item">
							 {{story.title}} <span class="badge">{{story.date}}</span>
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>

		<div class="col-md-6">
			<section class="well">
				{% include "bootstrap/media.html" with title="Current Venture" glyphicon="glyphicon-briefcase" description="You're doing good! Keep it up!" %}
			</section>

			 {% include "bootstrap/panel.html" with title="Community Ventures" content="John Smith just published his first survey! Gateway helped Planet Express start their own business. Read the story and see how their company is doing now.\nYou too, could be running your own business someday!" %}
		</div>
	</div>
{% endblock %}