{% extends "base.html" %}

{# page content #}
{% block title %}Teacher Admin{% endblock %}
{% block description %}Manage and view the status of your student entrepreneurs{% endblock %}

{% block main %}

    <div class="well" style="height: 400px">
        <ul class="nav nav-tabs nav-justified" id="navi-content" data-tabs="tabs">
            {% include "bootstrap/teacher_nav.html" with items=subnav %}
        </ul>

        <div class="tab-content" id="tabi-templates">
            {% for key in subnav %}

                <div class="tab-pane fade {% if key.active %}in active{% endif %}" id="{{ key.id }}">
                    {{ key.content }}
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
