{% extends "layout/minigame.html" %}
{% load staticfiles %}

{% block title %}Aha! - Game 1{% endblock %}
{% block description %}Play game 1 and get your takehome{% endblock %}

{% block minigame %}

	<!-- EaselJS library -->
    <script src="http://code.createjs.com/easeljs-0.7.0.min.js" defer></script>
    <script src="http://code.createjs.com/preloadjs-0.4.0.min.js" defer></script>

	<!-- The main game -->
    <script src="/static/js/core/logic.js" defer></script>
    <script src="/static/js/core/world.js" defer></script>
    <script src="/static/js/games/aha.js" defer></script>
    <script src="/static/js/core/listener.js" defer></script>

    <!-- Minigame specific styles -->
    <link href="/static/css/minigames.css" rel="stylesheet">

    <!-- Game container -->
	<canvas class="canvas-main" id="ahaCanvas" height="400" width="800"></canvas>
    <img src="/static/sprites/scene1_init.png" width="100%">

{% endblock %}

{% block minigame-questions %}
	{% include "bootstrap/questions.html" %}
{% endblock %}
