{% extends "layout/minigame.html" %}
{% load staticfiles %}

{% block title %}Gap - Minigame 2{% endblock %}
{% block description %}Play game 2 and get your takehome{% endblock %}

{% block minigame %}

	<!-- EaselJS library -->
    <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
	
	<!-- The main game -->
    <script src="/static/js/gap.js"></script>
    
    <!-- Minigame specific styles -->
    <link href="/static/css/minigames.css" rel="stylesheet">
    
    <!-- Game container -->
	<canvas class="canvas-main" id="gapCanvas" height="400" width="800"></canvas>

{% endblock %}

{% block minigame-questions %}
	{% include "bootstrap/questions.html" %}
{% endblock %}
