{% extends "layout/minigame.html" %}
{% load staticfiles %}

{% block title %}Interest - Game 4{% endblock %}
{% block description %}Play game 4 and geth the takehome{% endblock %}

{% block minigame %}

	<!-- EaselJS library -->
    <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
	
	<!-- The main game -->
    <script src="/static/js/interest.js"></script>
    
    <!-- Minigame specific styles -->
    <link href="/static/css/minigames.css" rel="stylesheet">
    
    <!-- Game container -->
	<canvas class="canvas-main" id="interCanvas" height="400" width="800"></canvas>

{% endblock %}
