  {% extends "layout/base.html" %}
  {% block main %}

<div row>
<h2 align= "center"> Help Page </2>
</div>

<div class="container">
<div row>
       	<div class = "col-md-4" id="Login">
			<div class="well">
				<h3> Login </h3>				
				<p>
					<div class="accordion" id="accordion_Login">
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#Login_collapse_1">
						Login as student
					      </a>
					    </div>
					    <div id="Login_collapse_1" class="accordion-body collapse">
					      <div class="accordion-inner">
						Click on the Login button on the Nav bar of the page of the page. Enter your student account credentials and enter them to use the site.
					      </div>
					    </div>
					  </div>
					  
					  <br/>

					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#Login_collapse_2">
						Teacher Login
					      </a>
					    </div>
					    <div id="Login_collapse_2" class="accordion-body collapse">
					      <div class="accordion-inner">
						Click on the Login button on the Nav bar of the page of the page. Enter your teacher account credentials and enter them to use the site.
					      </div>
					    </div>
					  </div>
					</div>

				        <br/>
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#Login_collapse_3">
						Forgotten username or password
					      </a>
					    </div>
					    <div id="Login_collapse_3" class="accordion-body collapse">
					      <div class="accordion-inner">
						
					      </div>
					    </div>
					  </div>
					  
					  <br/>
				</p>
			</div>
		</div>
	
 
	       	<div class = "col-md-4" id="Venuters">
			<div class="well">
				<h3> Ventures </h3>
				<p>
					<div class="accordion" id="accordion_Ventures">
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Ventures" href="#VenturesCollapse1">
						Starting a Venture
					      </a>
					    </div>
					    <div id="VenturesCollapse1" class="accordion-body collapse">
					      <div class="accordion-inner">
						Go to your ventures account
					      </div>
					    </div>
					  </div>
					  
					  <br/>

					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#VenturesCollapse2">
						Completing a venture
					      </a>
					    </div>
					    <div id="VenturesCollapse2" class="accordion-body collapse">
					      <div class="accordion-inner">
						Go to your ventures account
					      </div>
					    </div>
					  </div>
					</div>

				        <br/>
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#VenturesCollapse3">
						Viewing venture information
					      </a>
					    </div>
					    <div id="VenturesCollapse3" class="accordion-body collapse">
					      <div class="accordion-inner">
						Go to your ventures account
					      </div>
					    </div>
					  </div>
					  
					  <br/>
				
				</p>
			</div>
		</div>
	
	       	<div class = "col-md-4" id="First Game">
			<div class="well">
				<h3> First Game </h3>
				<p>
					<div class="accordion" id="accordion_Ventures">
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Ventures" href="#VenturesCollapse1">
						Starting the first game
					      </a>
					    </div>
					    <div id="VenturesCollapse1" class="accordion-body collapse">
					      <div class="accordion-inner">
						Go to your ventures account
					      </div>
					    </div>
					  </div>
					  
					  <br/>

					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#VenturesCollapse2">
						Checking game progress
					      </a>
					    </div>
					    <div id="VenturesCollapse2" class="accordion-body collapse">
					      <div class="accordion-inner">
						Go to your ventures account
					      </div>
					    </div>
					  </div>
					</div>

				        <br/>
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#VenturesCollapse3">
						Viewing Game information
					      </a>
					    </div>
					    <div id="VenturesCollapse3" class="accordion-body collapse">
					      <div class="accordion-inner">
						
					      </div>
					    </div>
					  </div>

					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#VenturesCollapse3">
						Problems running game
					      </a>
					    </div>
					    <div id="VenturesCollapse3" class="accordion-body collapse">
					      <div class="accordion-inner">
						If you have an older browser update your browser and try again.
					      </div>
					    </div>
					  </div>
					  
					  <br/>
				
				</p>
			</div>
		</div>
</div>
</div>

<div class="container">
<div row>
	       	<div class = "col-md-4" id="Login">
			<div class="well">
				<p>
				</p>
			</div>
		</div>
	
 
	       	<div class = "col-md-4" id="Login">
			<div class="well">
				<p>
					
				</p>
			</div>
		</div>
	
	       	<div class = "col-md-4" id="Login">
			<div class="well">
				<p>
					stuff
				</p>
			</div>
		</div>
</div>
</div>

  {% endblock %}
