{% extends "layout/base.html" %}
{% block main %}

<div class="row">
	<h2 align="center">Help Page</h2>
</div>

<div class="container">
	<div class="row">
       	<div class="col-md-4" id="login">
			<div class="well">
				<h3>Login</h3>				
				<p>
					<div class="accordion" id="accordion_login">
						<div class="accordion-group">
					    	<div class="accordion-heading">
					    		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_Login" href="#Login_collapse_1">
									Login as student
					      		</a>
					    	</div>

					    	<div class="accordion-body collapse" id="login_collapse_1">
					      		<div class="accordion-inner">
									Click on the Login button on the Nav bar of the page of the page. Enter your student account credentials and enter them to use the site.
					      		</div>
					    	</div>
					  	</div>
					  	<br>
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_login" href="#login_collapse_2">
									Teacher Login
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="login_collapse_2">
					      		<div class="accordion-inner">
									Click on the Login button on the Nav bar of the page of the page. Enter your teacher account credentials and enter them to use the site.
					      		</div>
					    	</div>
					  	</div>
				        <br>
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_login" href="#login_collapse_3">
									Forgotten username or password
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="login_collapse_3">
					      		<div class="accordion-inner"></div>
					    	</div>
					    </div>
					</div>
				</p>
			</div>
		</div>
	
	    <div class="col-md-4" id="ventures">
			<div class="well">
				<h3>Ventures</h3>
				<p>
					<div class="accordion" id="accordion_ventures">
						<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_ventures" href="#ventures_collapse1">
									Starting a Venture
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="ventures_collapse1">
						      	<div class="accordion-inner">
									Go to your ventures account
						      	</div>
						    </div>
						</div>
						<br>
						<div class="accordion-group">
						    <div class="accordion-heading">
						    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_ventures" href="#ventures_collapse2">
									Completing a venture
						      	</a>
						    </div>
						    <div class="accordion-body collapse" id="ventures_collapse2">
						      	<div class="accordion-inner">
									Go to your ventures account
						      	</div>
						    </div>
						</div>
				        <br/>
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_ventures" href="#ventures_collapse3">
									Viewing venture information
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="ventures_collapse3">
					      		<div class="accordion-inner">
									Go to your ventures account
					      		</div>
					    	</div>
					  	</div>
					</div>
				</p>
			</div>
		</div>
	    <div class="col-md-4" id="first_game">
			<div class="well">
				<h3>First Game</h3>
				<p>
					<div class="accordion" id="accordion_games">
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_games" href="#games_collapse1">
									Starting the first game
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="games_collapse1">
					      		<div class="accordion-inner">
									Go to your ventures account
					      		</div>
					    	</div>
					  	</div>
					  	<br>
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_games" href="#games_collapse2">
									Checking game progress
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="games_collapse2">
					      		<div class="accordion-inner">
									Go to your ventures account
					      		</div>
					    	</div>
					  	</div>
				        <br>
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_games" href="#games_collapse3">
									Viewing Game information
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="games_collapse3">
					      		<div class="accordion-inner"></div>
					    	</div>
					  	</div>
					  	<br>
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_games" href="#games_collapse3">
									Problems running game
					      		</a>
					    	</div>
					    	<div class="accordion-body collapse" id="games_collapse3">
					      		<div class="accordion-inner">
									If you have an older browser update your browser and try again.
					      		</div>
					    	</div>
					  	</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
