{% comment %}
    this page is used by its parent teacher.html and is the content for the nav - profile tab
{% endcomment %}


{% include "fragment/profile.html" %}

<!-- Right Side - Recent Student Mini-Game Completions -->
<section class="col-md-4 cont-border pull-right">
    <div class="panel panel-default dwn2-inv">
        
        <!-- Title -->
        <div class="panel-heading">
            <h3 class="panel-title">Recent Student Activity</h3>
        </div>
        
        <!-- Load in Student Name/Game/Time -->
        <div class="panel-body tab-content dwn15-inv">

            {% for val in act_pgs %}
                
                <!-- Recent Activitiy Pages -->
                <div class="tab-pane fade {% if val.active %}in active{% endif %}" id="{{ val.id }}">
                    {% include "bootstrap/sidenav-teacher.html" with items=activities %}
                </div>
            {% endfor %}
            
            {% include "bootstrap/pagination.html" with pages=act_pgs %}
        </div>
    </div>
</section>
