{% extends "layout/base.html" %}

{% block title %}Ventures{% endblock %}
{% block description %}Manage your ventures here{% endblock %}

{% block main %}
	<div class="well">
		{% include "bootstrap/media-glyphicon.html" with heading=currentVenture.title glyphicon=currentVenture.image body=currentVenture.description %}
	</div>

	{% for business in ventures %}
		{% include "bootstrap/media-glyphicon.html" with heading=business.title glyphicon=business.image body=business.description %}
	{% endfor %}

{% endblock %}